.ti-container {

}

.ti-col-container {
	font-size: 0;

	&.equal-heights {
		@include flexbox();
		@include flex-wrap();
	}

	&.center-items {
		@include flexbox();
		@include flex-center();
	}

	.col {
		display: inline-block;
		font-size: $font-size;
		position: relative;
		vertical-align: top;

		.ti-col-container.equal-heights & {
			@include flexbox();
			flex-direction: column;
		}

		&:not(.no-top-bottom-padding) {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		&:not(.no-gutter) {
			padding-left: 45px;
			padding-right: 45px;
		}
	}
}

.col-left {
	float: left;
}

.col-right {
	float: right;
}

// generate the column layout classes based on the array in _variables.scss
@each $num in $columns {
	@for $i from 1 through $num - 1 {
		.col-#{$i}-#{$num} { width: $i / $num * 100% }
	}	
}